<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>So sánh sản phẩm</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/slick.css" />
  <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />
  <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>

<%- include('./header.ejs') %>

<div class="container mt-5 mb-5">
  <h2 class="text-center mb-4">So sánh sản phẩm</h2>
  <div class="row">
    <div class="col-md-6 text-center">
      <h4><%= product1.name %></h4>
    </div>
    <div class="col-md-6 text-center">
      <h4><%= product2.name %></h4>
    </div>
  </div>

  <div class="row mt-3">
    <% 
    const allKeys = Array.from(new Set([
      ...Object.keys(product1.specs || {}),
      ...Object.keys(product2.specs || {})
    ]));
  %>
  
  <div class="row">
    <div class="col-md-6">
      <h4><%= product1.name %></h4>
      <table class="table table-bordered">
        <thead>
          <tr><th>Thông số</th><th>Giá trị</th></tr>
        </thead>
        <tbody>
          <% allKeys.forEach(key => { %>
            <tr class="<%= product1.specs[key] !== product2.specs[key] ? 'table-warning' : '' %>">
              <td><%= key %></td>
              <td><%= product1.specs[key] || '-' %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  
    <div class="col-md-6">
      <h4><%= product2.name %></h4>
      <table class="table table-bordered">
        <thead>
          <tr><th>Thông số</th><th>Giá trị</th></tr>
        </thead>
        <tbody>
          <% allKeys.forEach(key => { %>
            <tr class="<%= product1.specs[key] !== product2.specs[key] ? 'table-warning' : '' %>">
              <td><%= key %></td>
              <td><%= product2.specs[key] || '-' %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<%- include('./footer.ejs') %>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
